.swiper {
  width: 100%;
  height: 25vh;
  border-radius: 10px;
  z-index: 0;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}
