.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0);
  flex-direction: column;
}

.loading span {
  margin-top: 20px;
}

.loading .loading_setence {
  color: #fff;
}

.loading .loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #1d86fa;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loading .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #d80d1a;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
